<!doctype html>
<html>
<style >
html{
   background-color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFDDFF;
  color: black;
  text-align: center;
}
</style>
<head>
    <title>Quartz-Agency</title>
    <!-- Hotjar Tracking Code for my site -->
   <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3605897,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
   </script>
</head>
<body>
   <div class="content">
   {% block content %}
    replace me
   {% endblock %} 
   </div>
   <div class="footer">
   <p>ceci est la v1 de notre application. Le visuel est en cours de construction, nous nous concentrons ici uniquement sur le contenu et les tests. Merci de ne pas prendre en compte l'esthétique</p>
   </div>
</body>
</html>