{% extends 'base.html' %}

{% block content %}

     
     <h1>Et voici votre fichier! clickez juste Ici ===> <a href="../dwd/" download>Download</a> <=== pour télécharger votre dossier!</h1>
     <h2 style="margin-top: 5%;">===><a href = "../../">cliquez ici</a><=== pour retourner a la page d'accueil</h2>

     <h2 style="margin-top:10%;">===><a href="https://docs.google.com/forms/d/e/1FAIpQLScfwLCBhZGg2y5aaARl8XabWeIsKrTrB74aCk8KaNSdvOp9ww/viewform">clickez ici</a><=== pour faire un retour sur votre experience!</h2>
{% endblock %}